
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>
<div class="container">

    <div>
        <img src="https://s.yimg.com/ny/api/res/1.2/UXtYWiRrL26.yzHTQ4WZdw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTY0MDtjZj13ZWJw/https://media.zenfs.com/en/petsmao_nownews_707/5c8b28383482edc00353e09533de7322" />

    </div>
    <div>
        <img src="~/images/noimage.png" />
    </div>
    <button class="btn-primary" onclick="ViewImage()">辨識</button>

</div>
<div>

</div>
@section Script{
    Function ViewImage(){}


}


